<!DOCTYPE html>
<html>
<head>
  <title>Oauthy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>

<nav class="navbar navbar-dark bg-inverse">
  <div class="container">
    <a href="#" class="navbar-brand">OAuthy2</a>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="nav-item pull-right add-space">Signed in as <%= current_user.name %> - <%= image_tag @auth['info']['image'],
          width: '50', height: '50', class: 'nav_logo' %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Sign out", 'sign_out', method: :delete, class: 'nav-link' %></li>
      <% else %>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with GitHub", "auth/github", class: "nav-link" %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with Twitter", "auth/twitter", class: "nav-link" %></li>
        <li class="nav-item pull-right add-space"><%= link_to "Log in with Facebook", "auth/facebook", class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <% flash.each do |key, value| %>
        <div class="alert alert-info"><%= value %></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <% if current_user %>
        <div class="text-center">
          <h1>Welcome, <%= current_user.name %></h1>
          <h4>Logged in with <strong><%= @auth['provider'].capitalize %></strong></h4>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
